discord-py
python-dotenv
openai==1.7.2
python-dotenv
pydantic<2.0
pymongo
tiktoken
requests
text-generation
tokenizers
transformers
pillow
webuiapi
stability-sdk
jinja2
replicate
anthropic
requests-toolbelt